/*  src/Title.css  */
.Title {
    box-sizing: border-box;
    width: 100%;
    justify-content: left;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(192, 45, 26);
    color: #fff;
}

.Title-header {
    width: 30px;
    
}

.Title-subtitle {
    padding: 1rem;
}