.App {
  text-align: center;
  height: auto;
  width: auto;
}

.App-logo {
  display: flex;
  height: 100px;
  pointer-events: none;
  left: 0;
}

.body {
  margin-top: 5vw;
  display: flex;
  flex-wrap: wrap;
}

.App-header {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--main-primary-color);
}

.App-link {
  color: #61dafb;
}