.IntroContainer {
    width: 350px;
    margin-left: 5vw;
}

.IntroContainer-content {
    text-align: left;
    padding: .5rem;
    color: var(--main-primary-color);
}

.IntroContainer-content--intro {
    font-family: Fira Code, sans-serif;
    font-weight: 400;
    letter-spacing: -1px;
    font-size: 16px;
    text-align: left;
    width: 200px;
    color: var(--main-primary-color)
}

.IntroContainer-content--name {
    font-family: Fira Code, sans-serif;
    font-weight: 600;
    font-size: 125px;
    letter-spacing: -10px;
    text-align: left;
    margin-top: -30px;
    margin-bottom: -20px;
    margin-left: -8px;
}

.IntroContainer-content--occupation {
    font-family: Fira Code, sans-serif;
    font-weight: 500;
    letter-spacing: -1px;
    font-size: 22px;
    text-align: left;
    vertical-align: middle;
    color: var(--main-primary-color);
}



