/*  src/Title.css  */
.Title-background {
    box-sizing: border-box;
    width: 100%;
    justify-content: left;
    align-items: baseline;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(86, 86, 86);
    color: #fff;
    min-height: 5vmin;
}

.Title-header {
    width: 30px;
    
}